{
  "certs": {
{% for result in java_keystore_fingerprints_result.results %}
{% if result.stdout | length >0 %}
    {{ result.keystore_item.alias | to_json }}: {
      "fingerprint": {{ result.stdout | lower | to_json }}
    }
{% endif %}
{% endfor %}
  }
}
